In [1]:
from pomegranate import *

In [2]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set_style('whitegrid')

In [3]:
data = pd.read_csv("insurance.csv", dtype = str)

In [4]:
data.tail()

,GoodStudent,Age,SocioEcon,RiskAversion,VehicleYear,ThisCarDam,RuggedAuto,Accident,MakeModel,DrivQuality,...,HomeBase,AntiTheft,PropCost,OtherCarCost,OtherCar,MedCost,Cushioning,Airbag,ILiCost,DrivHist
19995,False,Adult,Prole,Adventurous,Older,Mild,Football,Mild,Economy,Poor,...,City,False,Thousand,Thousand,True,Thousand,Fair,False,Thousand,Many
19996,False,Adult,Middle,Normal,Older,None,Tank,None,FamilySedan,Normal,...,Suburb,False,Thousand,Thousand,True,Thousand,Good,False,Thousand,Zero
19997,False,Senior,UpperMiddle,Normal,Current,None,Football,None,Luxury,Excellent,...,Secure,True,TenThou,Thousand,False,Thousand,Excellent,True,Thousand,Zero
19998,False,Adult,Middle,Normal,Older,None,Football,None,FamilySedan,Excellent,...,Suburb,False,Thousand,Thousand,True,Thousand,Good,True,Thousand,Zero
19999,False,Adult,Middle,Normal,Older,None,Tank,None,FamilySedan,Excellent,...,Secure,False,Thousand,Thousand,True,Thousand,Excellent,True,Thousand,Zero

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 27 columns):
GoodStudent     20000 non-null object
Age             20000 non-null object
SocioEcon       20000 non-null object
RiskAversion    20000 non-null object
VehicleYear     20000 non-null object
ThisCarDam      20000 non-null object
RuggedAuto      20000 non-null object
Accident        20000 non-null object
MakeModel       20000 non-null object
DrivQuality     20000 non-null object
Mileage         20000 non-null object
Antilock        20000 non-null object
DrivingSkill    20000 non-null object
SeniorTrain     20000 non-null object
ThisCarCost     20000 non-null object
Theft           20000 non-null object
CarValue        20000 non-null object
HomeBase        20000 non-null object
AntiTheft       20000 non-null object
PropCost        20000 non-null object
OtherCarCost    20000 non-null object
OtherCar        20000 non-null object
MedCost         20000 non-null object
Cushioning      20000 non-null object
Airbag          20000 non-null object
ILiCost         20000 non-null object
DrivHist        20000 non-null object
dtypes: object(27)
memory usage: 2.1+ MB

In [6]:
data.describe()

,GoodStudent,Age,SocioEcon,RiskAversion,VehicleYear,ThisCarDam,RuggedAuto,Accident,MakeModel,DrivQuality,...,HomeBase,AntiTheft,PropCost,OtherCarCost,OtherCar,MedCost,Cushioning,Airbag,ILiCost,DrivHist
count,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,...,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000
unique,2,3,4,4,2,4,3,4,5,3,...,4,2,4,3,2,4,4,2,4,3
top,False,Adult,Prole,Normal,Older,None,EggShell,None,Economy,Normal,...,City,False,Thousand,Thousand,True,Thousand,Poor,False,Thousand,Zero
freq,19115,11939,8444,9644,13089,14681,9838,14336,7637,8897,...,7709,11705,11170,17180,13955,18589,6547,11468,19356,11486

In [7]:
df = data[['Age', 'SocioEcon', 'Accident', 'Mileage', 'DrivingSkill', 'ThisCarCost']]

In [8]:
df.head(10)

          Age    SocioEcon  Accident     Mileage DrivingSkill  ThisCarCost
0       Adult        Prole      Mild  TwentyThou  SubStandard      TenThou
1      Senior        Prole      None  TwentyThou       Normal     Thousand
2      Senior  UpperMiddle      None      Domino       Normal     Thousand
3  Adolescent       Middle      None   FiftyThou       Normal     Thousand
4  Adolescent        Prole  Moderate   FiftyThou  SubStandard      TenThou
5       Adult  UpperMiddle  Moderate   FiftyThou  SubStandard  HundredThou
6      Senior  UpperMiddle      Mild    FiveThou  SubStandard      TenThou
7       Adult        Prole    Severe  TwentyThou  SubStandard      TenThou
8       Adult        Prole    Severe  TwentyThou  SubStandard      TenThou
9  Adolescent        Prole    Severe  TwentyThou  SubStandard      TenThou

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
train, test = train_test_split(df, test_size=0.20, random_state=42)

# Structures

In [12]:
bnet1 = BayesianNetwork.from_samples(train, algorithm='greedy')
bnet1.structure

((4,), (0, 5), (5,), (2,), (2,), ())

In [13]:
bnet2 = BayesianNetwork.from_samples(train, algorithm='exact')
bnet2.structure

((1, 4), (5,), (3, 4), (), (), (2,))

In [14]:
bnet3 = BayesianNetwork.from_samples(train, algorithm='exact-dp')
bnet3.structure

((1, 4), (5,), (3, 4), (), (), (2,))

In [15]:
bnet4 = BayesianNetwork.from_samples(train, algorithm='chow-liu')
bnet4.structure

((), (5,), (4,), (2,), (0,), (2,))

# Predict

Предсказываем Accident по остальным параметрам.

In [20]:
bnet1.predict_proba(["Adolescent", "Middle", None, "FiftyThou", "Normal", "Thousand"])

array(['Adolescent', 'Middle',
       {
    "class" :"Distribution",
    "dtype" :"str",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "Mild" :0.04148640065260919,
            "Moderate" :0.0069963324552751475,
            "Severe" :0.0029741463545237892,
            "None" :0.9485431205375918
        }
    ],
    "frozen" :false
},
       'FiftyThou', 'Normal', 'Thousand'], dtype=object)

In [21]:
bnet1.predict([["Adolescent", "Middle", None, "FiftyThou", "Normal", "Thousand"]])

[array(['Adolescent', 'Middle', 'None', 'FiftyThou', 'Normal', 'Thousand'],
       dtype=object)]

In [22]:
y_true = test.loc[:,'Accident']
test.loc[:, 'Accident'] = np.nan

C:\Users\Lyasa\AppData\Local\Programs\Python\Python37-32\lib\site-packages\pandas\core\indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [23]:
pred1 = bnet1.predict(test.values)
pred2 = bnet2.predict(test.values)
pred3 = bnet3.predict(test.values)
pred4 = bnet4.predict(test.values)

In [24]:
y_pred1 = pd.DataFrame(pred1).loc[:,2]
y_pred2 = pd.DataFrame(pred2).loc[:,2]
y_pred3 = pd.DataFrame(pred3).loc[:,2]
y_pred4 = pd.DataFrame(pred4).loc[:,2]

# Metrics

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
m1 = accuracy_score(y_true, y_pred1)
m2 = accuracy_score(y_true, y_pred2)
m3 = accuracy_score(y_true, y_pred3)
m4 = accuracy_score(y_true, y_pred4)

In [27]:
print(f"Accuracy \n greedy    {m1} \n exact     {m2} \n exact-dp  {m3} \n chow-liu  {m4}")

Accuracy
 greedy    0.8325
 exact     0.82875
 exact-dp  0.82875
 chow-liu  0.8325

greedy & chow-liu получились лучшими моделями, согласно accuracy.

In [28]:
from sklearn.metrics import f1_score

In [29]:
f1 = f1_score(y_true, y_pred1, average='macro')
f2 = f1_score(y_true, y_pred2, average='macro')
f3 = f1_score(y_true, y_pred3, average='macro')
f4 = f1_score(y_true, y_pred4, average='macro')

C:\Users\Lyasa\AppData\Local\Programs\Python\Python37-32\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [30]:
print(f"F1 \n greedy    {f1} \n exact     {f2} \n exact-dp  {f3} \n chow-liu  {f4}")

F1
 greedy    0.4474107546618745
 exact     0.4690828852442789
 exact-dp  0.4690828852442789
 chow-liu  0.4474107546618745

exact & exact-dp получились лучшими моделями, согласно F1 score.

# Results

По результатам 1 метрики (F1) из 2-х (accuracy и F1) лучшими моделями получились exact & exact-dp. Выберем exact как итоговую.